@import "../scss/sortUserList";



@mixin user-filter-button($background-color, $text-color, $hover-color) {
  background-color: $background-color !important;
  color: $text-color !important;

  &:hover {
    background-color: $hover-color !important;
  }
}

.user-filter {
  &__button {
    @include user-filter-button($head-color, $text-color-head, $hover-color);
  }
}